@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


header {
    width: 100vw;
    height: 100vh;
    background-image: url('../images/header-bg.webp');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.header-content h2 {
    font-size: 4vmin;
}

.line {
    width: 150px;
    height: 4px;
    background: crimson;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 50px;
}

.ctn {
    padding: 8px 15px;
    background: crimson;
    border-radius: 30px;
    color: whitesmoke;
}